#all_header{
	height:100px;
	background:#ccc;
}
#all_left{
	width:100px;
}
#all_data{
	padding:5px;
	background:#eee;
}
#all_footer{
	height:50px;
	background:#fcc;
}

#win-maxmin{
	width:100px;
	position:fixed;
	right:20px;
	top:10px;
	z-index:100;
}
#win-maxmin .current{
	background:yellow;
	opacity:0.7;
}
.win-maxmin-btn{
	background:green;
	border-radius:10px 10px 10px 10px;
	opacity:0.3;
}
.win-maxmin-btn:hover{
	background:yellow;
	border:2px solid red;
	opacity:1;
}