<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sso.service.mapper.ISysMapper">
	
	
	<sql id="BaseCols">
		id,sysName,sysChName,indexStr,defUrl,sysLev,sysType,crTime,regPw,regPrefix,regNullUrl
	</sql>
	<resultMap id="BaseMap" type="sso.entity.Sys">
		<id column="id" property="id" jdbcType="BIGINT"/>
	    <result column="sysName" property="sysName" jdbcType="VARCHAR" />
		<result column="sysChName" property="sysChName" jdbcType="VARCHAR" />
		<result column="indexStr" property="indexStr" jdbcType="VARCHAR" />
		<result column="defUrl" property="defUrl" jdbcType="VARCHAR" />
		<result column="sysLev" property="sysLev" jdbcType="INTEGER" />
		<result column="sysType" property="sysType" jdbcType="INTEGER" />
		<result column="crTime" property="crTime" jdbcType="DATE" />
		<result column="regPw" property="regPw" jdbcType="VARCHAR" />
		<result column="regPrefix" property="regPrefix" jdbcType="VARCHAR" />
		<result column="regNullUrl" property="regNullUrl" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insertObj" parameterType="sso.entity.Sys">
	
	</insert>
	<delete id="deleteObjById" parameterType="long">
	
	</delete>
	<update id="updateObjById" parameterType="sso.entity.Sys">
	
	</update>
	<select id="selectObjById" resultMap="BaseMap">
		select * from sys where id=#{id,jdbcType=BIGINT}
	</select>
	<select id="selectObj" parameterType="sso.entity.Sys" resultMap="BaseMap">
		select * from sys where id=#{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectObjList" parameterType="sso.entity.Sys" resultMap="BaseMap">
		select * from sys
		where 1=1
		<if test="args !=null">
			<if test="args.id !=null">
				and id=#{args.id,jdbcType=BIGINT}
			</if>
			<if test="args.sysName !=null">
				and sysName like "%"#{args.sysName,jdbcType=VARCHAR}"%"
			</if>
			<if test="args.sysChName !=null">
				and sysChName like "%"#{args.sysChName,jdbcType=VARCHAR}"%"
			</if>
			<if test="args.sysLev !=null">
				and sysLev=#{args.sysLev,jdbcType=INTEGER}"%"
			</if>
		</if>
	</select>
</mapper>





















