<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sso.service.mapper.ISysRoleMapper">
	<sql id="BaseCols">
		id,roleName,roleType,roleDefUrl,sysId,sysChName,crTime,deleted
	</sql>
	<resultMap id="BaseMap" type="sso.entity.SysRole">
		<id column="id" property="id" jdbcType="BIGINT"/>
	    <result column="roleName" property="roleName" jdbcType="VARCHAR" />
		<result column="roleType" property="roleType" jdbcType="INTEGER" />
		<result column="roleDefUrl" property="roleDefUrl" jdbcType="VARCHAR" />
		<result column="sysId" property="sysId" jdbcType="BIGINT" />
		<result column="sysChName" property="sysChName" jdbcType="VARCHAR" />
		<result column="crTime" property="crTime" jdbcType="DATE" />
		<result column="deleted" property="deleted" jdbcType="INTEGER" />
	</resultMap>
	<insert id="insertObj" parameterType="sso.entity.SysRole">
		insert into sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="roleName !=null">roleName,</if>
			<if test="roleType !=null">roleType,</if>
			<if test="roleDefUrl !=null">roleDefUrl,</if>
			<if test="sysId !=null">sysId,</if>
			<if test="sysChName !=null">sysChName,</if>
			<if test="crTime !=null">crTime,</if>
			<if test="deleted !=null">deleted,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			     #{id,jdbcType=BIGINT}, 
			<if test="roleName !=null">#{roleName,jdbcType=VARCHAR},</if>
			<if test="roleType !=null">#{roleType,jdbcType=VARCHAR},</if>
			<if test="roleDefUrl !=null">#{roleDefUrl,jdbcType=VARCHAR},</if>
			<if test="sysId !=null">#{sysId,jdbcType=VARCHAR},</if>
			<if test="sysChName !=null">#{sysChName,jdbcType=VARCHAR},</if>
			<if test="crTime !=null">#{crTime,jdbcType=TIMESTAMP},</if>
			<if test="deleted !=null">#{deleted,jdbcType=INTEGER},</if>
		</trim>
	</insert>
	<delete id="deleteObjById" parameterType="long">
		delete from sys_role where id=#{id,jdbcType=BIGINT}
	</delete>
	<update id="updateObjById" parameterType="sso.entity.SysRole">
		update sys_role
		<set>
			<if test="roleName !=null">roleName=#{roleName,jdbcType=VARCHAR},</if>
			<if test="roleType !=null">roleType=#{roleType,jdbcType=VARCHAR},</if>
			<if test="roleDefUrl !=null">roleDefUrl=#{roleDefUrl,jdbcType=VARCHAR},</if>
			<if test="sysId !=null">sysId=#{sysId,jdbcType=VARCHAR},</if>
			<if test="sysChName !=null">sysChName=#{sysChName,jdbcType=VARCHAR},</if>
			<if test="crTime !=null">crTime=#{crTime,jdbcType=TIMESTAMP},</if>
			<if test="deleted !=null">deleted=#{deleted,jdbcType=INTEGER},</if>
		</set>
		where id=#{id,jdbcType=BIGINT}
	</update>
	<select id="selectObjById" resultMap="BaseMap">
		select * from sys_role where id=#{id,jdbcType=BIGINT}
	</select>
	<select id="selectObj" parameterType="sso.entity.SysRole" resultMap="BaseMap">
		select * from sys_role where id=#{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectObjList" parameterType="sso.entity.SysRole" resultMap="BaseMap">
		select * from sys_role
		where 1=1
		<if test="args != null">
			<if test="args.id !=null">
				and id=#{args.id,jdbcType=BIGINT}
			</if>
			<if test="args.roleName !=null">
				and roleName like "%"#{args.roleName,jdbcType=VARCHAR}"%"
			</if>
			<if test="args.sysId !=null">
				and sysId = #{args.sysId,jdbcType=BIGINT}
			</if>
		</if>
		<if	test="argsEx != null">
		
		</if>
	</select>
</mapper>





















