<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sso.service.mapper.IUserMapper">
	<sql id="userBase">
		id,userName,passWord,token,info,resetHint,resetPw,email,phone,crTime,deleted
	</sql>
	<resultMap id="userMap" type="sso.entity.User">
		<id column="id" property="id" jdbcType="BIGINT"/>
	    <result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="passWord" property="passWord" jdbcType="VARCHAR" />
		<result column="token" property="token" jdbcType="VARCHAR" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="resetHint" property="resetHint" jdbcType="VARCHAR" />
		<result column="resetPw" property="resetPw" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="crTime" property="crTime" jdbcType="DATE" />
		<result column="deleted" property="deleted" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="countAll" resultType="int">
		select count(1) from user 
	</select>
	<insert id="insertUser" parameterType="sso.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="userName !=null">userName,</if>
			<if test="passWord !=null">passWord,</if>
			<if test="token !=null">token,</if>
			<if test="info !=null">info,</if>
			<if test="resetHint !=null">resetHint,</if>
			<if test="resetPw !=null">resetPw,</if>
			<if test="email !=null">email,</if>
			<if test="phone !=null">phone,</if>
			<if test="crTime !=null">crTime,</if>
			<if test="deleted !=null">deleted</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			     #{id,jdbcType=BIGINT}, 
			<if test="userName !=null">#{userName,jdbcType=VARCHAR},</if>
			<if test="passWord !=null">#{passWord,jdbcType=VARCHAR},</if>
			<if test="token !=null">#{token,jdbcType=VARCHAR},</if>
			<if test="info !=null">#{info,jdbcType=VARCHAR},</if>
			<if test="resetHint !=null">#{resetHint,jdbcType=VARCHAR},</if>
			<if test="resetPw !=null">#{resetPw,jdbcType=VARCHAR},</if>
			<if test="email !=null">#{email,jdbcType=VARCHAR},</if>
			<if test="phone !=null">#{phone,jdbcType=VARCHAR},</if>
			<if test="crTime !=null">#{crTime,jdbcType=TIMESTAMP},</if>
			<if test="deleted !=null">#{deleted,jdbcType=INTEGER},</if>
		</trim>
	</insert>
	
	<select id="selectUserById" resultMap="userMap">
		select * from user where id=#{id,jdbcType=BIGINT}
	</select>
	<select id="selectUserList" resultMap="userMap">
		select * from user
		where 1=1
		<if test="id !=null">
			and id=#{id,jdbcType=BIGINT}
		</if>
		<if test="userName !=null">
			and userName like "%"#{userName,jdbcType=VARCHAR}"%"
		</if>
		<if test="email !=null">
			and email like "%"#{email,jdbcType=VARCHAR}"%"
		</if>
		<if test="phone !=null">
			and phone like "%"#{phone,jdbcType=VARCHAR}"%"
		</if>
	</select>
</mapper>





















