#set ($staticPath="http://static.cqg.cn/sso_static")
#set ($ssoPath="http://sso.cqg.cn")

	
	
<script type="text/javascript" src="${staticPath}/common/jqueryplugin/easyui/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="${staticPath}/common/jqueryplugin/easyui/themes/gray/easyui.css"/>
<link rel="stylesheet" type="text/css" href="${staticPath}/common/jqueryplugin/easyui/themes/icon.css">
<script type="text/javascript" src="${staticPath}/common/jqueryplugin/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${staticPath}/common/jqueryplugin/easyui/exportExcel.js"></script>
<script type="text/javascript" src="${staticPath}/common/jqueryplugin/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${staticPath}/common/jqueryplugin/easyui/easyui-date.js"></script>
<script type="text/javascript" src="${staticPath}/common/jqueryplugin/easyui/jquery.form.js"></script>
<link rel="stylesheet" type="text/css" href="${staticPath}/sso/css/common.css">
<script type="text/javascript" src="${staticPath}/sso/js/common.js"></script>	

<script type="text/javascript">
	var topRef="";
    var parentRef = "";
    var leftRef="";
</script>


