<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	
	
	<bean id="sys_now" class="sso.entity.Sys">
		<property name="id" value="1"/>
		<property name="sysChName" value="权限管理"/>
		<property name="regPw" value="123456"/>
	</bean>
	
	<bean id="sys_user" class="sso.entity.User">
		<property name="userName" value="caoqingguang"/>
	</bean>

</beans>
