<html>
	<head>
		#set($vko_sys_opt="系统管理222")
		#parse("./common/common.vm")
        <title>sysMgr VM</title>
		<script type="text/javascript" src="${staticPath}/sso/js/sysMgr/sysMgr.js"></script>
	</head>
	<body class="easyui-layout">
#parse("./common/framework_header_left.vm")
			<div id="data-query">
				<form id="search-form">
    				<input type="text" name="id" placeholder="系统id"/>
    				<input type="text" name="sysName" placeholder="系统名称(en)"/>
    				<input type="text" name="sysChName" placeholder="系统名称(ch)"/>
    				<input type="text" name="sysLev" placeholder="系统等级"/>
    				<input type="button" value="查询" onclick="search('search-form')"/>
    				<input type="button" value="添加系统" onclick="showNewSys('newSys');"/>
                </form>
			</div>
			<div id="data-view">
				<table id="list"></table>
			</div>
#parse("./common/framework_footer.vm")
    </body>
</html>